<h1>Index</h1>

<div class="tags">
	<% for tag in @tags %>
		<a href="/t/<%= tag.id %>"><%= tag.name %></a>
	<% end %>
</div>

<div class="pictures">
	<%
		i = 0
		for album in @albums
			i = i + 1
			if i > 5
	%>
			<div class="clear"></div>
	<%
				i = 1
			end
	%>
		<div class="picture">
			<a href="/<%= album.id %>/">
				<img src="<%= album.pictures.first.thumburl %>" />
				<%= album.name %>
			</a>
		</div>
	<% end %>
	<div class="clear"></div>
</div>
