%h1= @album.name

#menu
  :markdown
    * [Slideshow](#{$app_root}/#{@album.id}/#{@album.pictures.first.id}/s/)
    * [Index](#{$app_root}/)

.pictures
  - i = 0
  - for picture in @album.pictures
    - i = i + 1
    - if i > 5
      .clear
      - i = 1
    
    .picture
      %a{:href => "#{$app_root}/#{@album.id}/#{picture.id}/"}
        %img{:src => picture.thumburl}
        = picture.name
        
:javascript
  //<![CDATA[
  $(document).ready(function() {
    $("h1").editable("#{$app_root}/#{@album.id}/e", {
      tooltip : "Click to edit...",
      onblur : 'submit'
    });
  });
  //]]>

