<h1><%= @album.name %></h1>

<div id="menu">
	<ul>
		<li><a href="/<%= @album.id %>/<%= @album.pictures.first.id %>/s/">Slideshow</a></li>
		<li class="spacer"></li>
		<li><a href="/">Index</a></li>
	</ul>
</div>

<div class="pictures">
	<%
		i = 0
		for picture in @album.pictures
			i = i + 1
			if i > 5
	%>
			<div class="clear"></div>
	<%
				i = 1
			end
	%>
		<div class="picture">
			<a href="/<%= @album.id %>/<%= picture.id %>/">
				<img src="<%= picture.thumburl %>" />
				<%= picture.name %>
			</a>
		</div>
	<% end %>
	<div class="clear"></div>
</div>