<div id="menu">
	<ul>
		<li><a href="/<%= @picture.album.id %>/<%= @picture.id %>/">Pause</a></li>
		<li class="spacer"></li>
		<% unless @picture.next.nil? %>
			<li><a href="/<%= @picture.album.id %>/<%= @picture.next.id %>/s/">Next</a></li>
		<% end %>
		<% unless @picture.previous.nil? %>
			<li><a href="/<%= @picture.album.id %>/<%= @picture.previous.id %>/s/">Previous</a></li>
		<% end %>
		<li class="spacer"></li>
		<li><a href="/<%= @picture.album.id %>/">Album</a></li>
		<li class="spacer"></li>
		<li><a href="/">Index</a></li>
	</ul>
</div>

<% unless @picture.next.nil? %>
	<meta http-equiv="refresh" content="3;url=/<%= @picture.album.id %>/<%= @picture.next.id %>/s/" />
	<a href="/<%= @picture.album.id %>/<%= @picture.next.id %>/s/">
<% else %>
	<a href="/<%= @picture.album.id %>/">
<% end %>
		<img src="/<%= @picture.album.id %>/<%= @picture.id %>/m/" />
	</a>