#menu
  %ul
    %li
      %a{ :href => "#{$app_root}/#{@picture.album.id}/#{@picture.id}/" }
        Pause
  
    - unless @picture.next.nil?
      %li
        %a{ :href => "#{$app_root}/#{@picture.album.id}/#{@picture.next.id}/" }
          Next
      
    - unless @picture.previous.nil?
      %li
        %a{ :href => "#{$app_root}/#{@picture.album.id}/#{@picture.previous.id}/" }
          Previous
      
    %li
      %a{ :href => "#{$app_root}/#{@picture.album.id}/" }
        Album
        
    %li
      %a{ :href => '#{$app_root}/' }
        Index

- url = "#{$app_root}/#{@picture.album.id}/" + (@picture.next.nil? ? '' : "#{@picture.next.id}/")
%a{ :href => url }
  %img{ :src => "#{$app_root}/#{@picture.album.id}/#{@picture.id}/m/" }
  
%meta{ :'http-equiv' => 'refresh', :content => "3;url=#{$app_root}/#{@picture.album.id}/#{@picture.next.id}/s/" }
