<% unless @picture.next.nil? %>
	<a href="/<%= @picture.album.id %>/<%= @picture.next.id %>/">
<% else %>
	<a href="/<%= @picture.album.id %>/">
<% end %>
		<img src="/<%= @picture.album.id %>/<%= @picture.id %>/m/" />
	</a>