<h1>Show Album</h1>

<h2><%= @album.name %></h2>

<div class="pictures">
	<%
		i = 0
		for picture in @album.pictures
			i = i + 1
			if i > 5
	%>
			<div class="clear"></div>
	<%
				i = 1
			end
	%>
		<div class="picture">
			<a href="/<%= @album.id %>/<%= picture.id %>/">
				<img src="<%= picture.url('t') %>" />
				<%= picture.name %>
			</a>
		</div>
	<% end %>
	<div class="clear"></div>
</div>